In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import sklearn

from sklearn.svm import LinearSVC, SVC

from sklearn.metrics import f1_score, confusion_matrix, classification_report, confusion_matrix
from sklearn.model_selection import train_test_split, learning_curve, GridSearchCV, RandomizedSearchCV

from sklearn.preprocessing import OneHotEncoder

from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
#import warnings
#warnings.filterwarnings("ignore")

In [3]:
# option d'affichage des résultats
#pd.set_option("display.max_row",130)
pd.set_option("display.max_columns",100)

In [4]:
# les noms des variables

colonnes =(["IDENT", "TypeHabi", "GeoFaz_Scl", "GeoFaz_cl", "ImmoFaz_Scl", "ImmoFaz_cl", "Anciennete",
            "Logement_prix_m2", "Mediane_RFR", "Sexe", "Prenom_Phase_scl_H", "Prenom_Phase_scl_F",
            "Prenom_Phase_cl_H", "Prenom_Phase_cl_F", "Age_H", "Age_F", "Affinite_1", "Affinite_2",
            "Prenom_effectif", "Potentiel_prenom", "Onoma-Phase_Scl", "Onoma-Phase_CL", "Top_mon"])

In [5]:
colonnes_montant = ["DEDUPLI", "IDENT", "SommeDeMONTANT_NUM", "Flag_Top_Montant", "NovosScore_Vingtile"]

data_montant_orig = pd.read_csv("/content/drive/MyDrive/spad_score_method_1/spad_projection_FDFTOT21/DONS_FDF_N_TODAY_1ers_gestes_REF_MD.txt", sep=";", header = 0, low_memory=False, dtype=str) #, dtype=str )#, dtype='Int64')

data_montant_orig.iloc[:,2]=data_montant_orig.iloc[:,2].str.replace(",",".")

data_montant_orig.columns =colonnes_montant
data_montant_orig["SommeDeMONTANT_NUM"]=data_montant_orig["SommeDeMONTANT_NUM"].astype(float)

In [6]:
data_orig = pd.read_csv("/content/drive/MyDrive/spad_score_method_1/spad_projection_FDFTOT21/sans_8_new_my_data_FDFTOT21.txt", delim_whitespace="\t", header = None, names=colonnes, low_memory=False, dtype=str )#, dtype='Int64')
data = data_orig.copy()
data

,IDENT,TypeHabi,GeoFaz_Scl,GeoFaz_cl,ImmoFaz_Scl,ImmoFaz_cl,Anciennete,Logement_prix_m2,Mediane_RFR,Sexe,Prenom_Phase_scl_H,Prenom_Phase_scl_F,Prenom_Phase_cl_H,Prenom_Phase_cl_F,Age_H,Age_F,Affinite_1,Affinite_2,Prenom_effectif,Potentiel_prenom,Onoma-Phase_Scl,Onoma-Phase_CL,Top_mon
0,0010000001,02,81,08,91,09,06,21,21,01,71,41,07,04,12,04,20,02,02,01,51,05,1
1,0010000006,01,75,07,43,04,06,06,13,02,71,64,07,06,12,09,04,12,04,13,12,01,1
2,0010000011,01,76,07,43,04,06,06,16,03,54,81,05,08,07,12,06,06,04,18,36,03,2
3,0010000013,03,75,07,43,04,04,06,13,01,71,36,07,03,12,11,11,19,04,06,21,02,1
4,0010000015,02,33,03,44,04,06,07,12,01,71,42,07,04,12,05,14,03,03,01,14,01,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1192175,0370109343,01,64,06,82,08,05,16,17,02,71,81,07,08,12,12,21,21,06,21,61,06,NaN
1192176,0370109344,03,61,06,64,06,06,14,01,04,44,81,04,08,05,12,01,05,01,03,54,05,NaN
1192177,0370109345,02,13,01,42,04,07,07,15,02,71,81,07,08,12,12,21,21,06,21,61,06,NaN
1192178,0370109346,02,31,03,82,08,08,16,19,02,71,45,07,04,12,03,02,02,03,01,44,04,NaN
1192179,0370109347,02,12,01,82,08,06,17,17,03,33,81,03,08,07,12,03,03,05,20,31,03,NaN

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1192180 entries, 0 to 1192179
Data columns (total 23 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   IDENT               1192180 non-null  object
 1   TypeHabi            1192180 non-null  object
 2   GeoFaz_Scl          1192180 non-null  object
 3   GeoFaz_cl           1192180 non-null  object
 4   ImmoFaz_Scl         1192180 non-null  object
 5   ImmoFaz_cl          1192180 non-null  object
 6   Anciennete          1192180 non-null  object
 7   Logement_prix_m2    1192180 non-null  object
 8   Mediane_RFR         1192180 non-null  object
 9   Sexe                1192180 non-null  object
 10  Prenom_Phase_scl_H  1192180 non-null  object
 11  Prenom_Phase_scl_F  1192180 non-null  object
 12  Prenom_Phase_cl_H   1192180 non-null  object
 13  Prenom_Phase_cl_F   1192180 non-null  object
 14  Age_H               1192180 non-null  object
 15  Age_F               1192180 non-null  object
 16  Affinite_1          1192180 non-null  object
 17  Affinite_2          1192180 non-null  object
 18  Prenom_effectif     1192180 non-null  object
 19  Potentiel_prenom    1192180 non-null  object
 20  Onoma-Phase_Scl     1192180 non-null  object
 21  Onoma-Phase_CL      1192180 non-null  object
 22  Top_mon             99296 non-null    object
dtypes: object(23)
memory usage: 209.2+ MB

In [8]:
#nombre de modalités de chaque variables (dans un dataframe)
def nombre_mod(data2):
    #création d'un dataframe vide
    dff= pd.DataFrame(columns=["VARIABLE","NOMBRE_MOD", "NOMBRE_MOD_SANS_NA"])
    for i in range(data2.shape[1]): # sans compter les valeurs manquantes
        taille =len(data2.iloc[:,i].value_counts(dropna=False))
        taille_1 = len(data2.iloc[:,i].value_counts(dropna=True) )
        dff=dff.append({"VARIABLE": colonnes[i],"NOMBRE_MOD":taille, "NOMBRE_MOD_SANS_NA":taille_1 }, ignore_index=True)
    return dff

# sélection des corrélations les plus importantes
def variables_corr(tableau_corr, seuil):
    colonnes = tableau_corr.columns
    val_temp = 0 
    variables_corr_pos=[] ; variables_corr_pos_val=[]
    variables_corr_neg=[] ; variables_corr_neg_val=[]
    for i in range(tableau_corr.shape[0]):  
        for j in range(tableau_corr.shape[0]):
            if i<j: #i!=j:
                if (tableau_corr.iloc[i,j] > seuil):
                    variables_corr_pos.append(colonnes[j])
                    variables_corr_pos_val.append(round( tableau_corr.iloc[i,j], 2))
                    val_temp += 1

                if (tableau_corr.iloc[i,j] <-seuil):
                    variables_corr_neg.append(colonnes[j])
                    variables_corr_neg_val.append(round( tableau_corr.iloc[i,j], 2))
                    val_temp += 1

        if (len(variables_corr_pos) > 0) | (len(variables_corr_neg) >0) :
            print("variable : ", colonnes[i])
            if len(variables_corr_pos) > 0:    
                print("corr pos", variables_corr_pos)
                print("corr pos", variables_corr_pos_val)
                val_temp += 1

            if len(variables_corr_neg) >0:  
                print("corr neg", variables_corr_neg)
                print("corr neg", variables_corr_neg_val)
                val_temp += 1
            print("")
        variables_corr_pos = variables_corr_pos*0
        variables_corr_neg = variables_corr_pos*0

        variables_corr_pos_val = variables_corr_pos_val*0
        variables_corr_neg_val = variables_corr_pos_val*0
    if val_temp == 0:
        print("IL N'Y A PAS DE CORRELATION ENTRE LES VARIABLES PAR RAPPORT AU SEUIL PRIS")
        

def evaluation(model, X_train, y_train, X_test, y_test, scoring, plot):

    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)
    
    print("test set : ")
    print(confusion_matrix(y_test, y_pred))
    print(classification_report(y_test, y_pred)) 
    print("train set : ")
    print(confusion_matrix(y_train, model.predict(X_train)))  
    print(classification_report(y_train, model.predict(X_train) ))

    if plot == True:
        N, train_score, val_score = learning_curve(model, X_train, y_train, shuffle=True, cv = 4, scoring = scoring, train_sizes = np.linspace(0.1, 1, 6) )

        plt.figure(figsize = (10,6))
        plt.plot(N, train_score.mean(axis=1), label ="train_score")
        plt.plot(N, val_score.mean(axis=1), label ="cross_validation_score")
        plt.legend()
    else :
        print("GRAPHIQUE NON DEMANDE")

# Comme il n'y a pas de valeurs manquantes (à la place il y a un nombre), le seul traitement qu'on fait c'est tranformer
# le type de variable (les variables continues deviennent qualitatives)
def data_processing(df):
    """ 
    for i in range(0,len(df.columns)):    
        df[df.columns[i]].fillna(100.0, inplace=True) #On remplace les données manquantes par 100
    for i in range(0,len(df.columns)):
        print(df[df.columns[i]].value_counts(dropna=False))    
    """
    
   #Transformation de toutes les variables en facteurs         
    for i in range(0,len(df.columns)):
        df[df.columns[i]] = df[df.columns[i]].astype('category')
    return df.to_numpy() #.as_matrix()


def vingtiles(model, data_orig, affichage, save, path): # data_orig est une variables locale (peut être différente au df d'origine)
    # position de la dernière variable explicative dans le dataset
    nb_var = data_orig.shape[1]-1

    # predict sur tous les individus (avec et sans classe Top_mon)
    tous_probas = model.predict_proba(data_orig.iloc[:,1:nb_var])
    df_tous = pd.DataFrame({'IDENT': data_orig.iloc[:,0] , 'PROBA': tous_probas[:,0] })
    #df_tous
    
    # valeurs ordonnées pour diviser après
    df_tous=df_tous.sort_values(by='PROBA', ascending=True)
    #df_tous
    print(df_tous)
    
    #vérification
    print(df_tous['PROBA'].value_counts())

    # vingtiles
    df_temp =pd.DataFrame( pd.qcut(df_tous['PROBA'],q= 20)  )
    #print(df_temp)

    # ajout par index (IMPORTANTE)
    df_tous["TRANCHES"]=pd.DataFrame(df_temp.iloc[:,0].to_numpy(),index= df_temp.index)
    #print(df_tous)

    # création de la dernière colonne CLASSE et son remplissage
    index_20_ord = pd.DataFrame(np.unique(df_tous["TRANCHES"])) 
    df_tous["CLASSE"]=df_tous["TRANCHES"].copy()
    ind_val=1
    for kk in range(20):
        df_tous["CLASSE"][df_tous["CLASSE"]== index_20_ord.iloc[kk,0] ] = str(ind_val) 
        ind_val+=1
    print(df_tous)    
    
    # pour la colonne Top_mon : changement de type de variable et remplissage des valeurs (s'il le faut)
    data_temp_t = data_orig.copy()
    data_temp_t["Top_mon"] =  data_temp_t["Top_mon"].replace(1.0,'1')
    data_temp_t["Top_mon"] =  data_temp_t["Top_mon"].replace(2.0,'2')
    data_all_complet_class = data_temp_t #data_temp_t.fillna('2')
    #data_all_complet_class

    # jointure
    ident_class_tous = data_all_complet_class[["IDENT","Top_mon"]]
    tableau_resultats = pd.merge(df_tous,ident_class_tous)
    #tableau_resultats

    # tranches finales
    tab_cross_temp = pd.crosstab(tableau_resultats["TRANCHES"],tableau_resultats["Top_mon"])
    #print(tab_cross_temp); print("-----------------------")

    # création d'une colonne TOTAL
    tab_cross_temp["TOTAL"]=tab_cross_temp["1"]+tab_cross_temp["2"]
    
    # affichage
    if affichage ==True:        
        print(tab_cross_temp)

    # création du tableau final en éliminant la colonne 2
    #tab_pour_excel = tab_cross_temp.drop(["2"], axis=1)

    # si on ne veut pas éliminer la colonne 2
    tab_pour_excel =  tab_cross_temp
    
    # enregistrement sous Excel
    if save == True:
        tab_pour_excel.to_excel(path)

    return  df_tous


def tableau_5_montant(df_tous, data_montant_orig, affichage, save, path):
    # tableau avec les deux variables qui nous intéressent
    ident_et_montant = data_montant_orig[["IDENT","SommeDeMONTANT_NUM"]]

    # jointure
    tableau_resultats_et_montant = pd.merge(df_tous,ident_et_montant)
    #print(tableau_resultats_et_montant) 

    # on élimine toutes les sommes supérieur à 5000 €
    tableau_resultats_et_montant = tableau_resultats_et_montant[tableau_resultats_et_montant["SommeDeMONTANT_NUM"] <= 5000]
    print(tableau_resultats_et_montant) 
    #print(tableau_resultats_et_montant["TRANCHES"].value_counts())
    #print(pd.DataFrame(np.unique(tableau_resultats_et_montant["TRANCHES"])))

    # index
    index_temp = pd.DataFrame(np.unique(tableau_resultats_et_montant["TRANCHES"])) 

    # création du tableau qui contiendra les résultats finaux
    tableau_resultats_finaux = pd.DataFrame(columns=["TRANCHES","Moyen_Somme","TOTAL"],index=range(20))
    tableau_resultats_finaux["TRANCHES"] = index_temp

    # remplissage du tableau final
    for k in range(20):
        tableau_resultats_finaux.iloc[k,1] = tableau_resultats_et_montant[tableau_resultats_et_montant["TRANCHES"]==index_temp.iloc[k,0]]["SommeDeMONTANT_NUM"].mean()
        tableau_resultats_finaux.iloc[k,2] = (tableau_resultats_et_montant["TRANCHES"]==index_temp.iloc[k,0]).sum()
    
    # affichage
    if affichage:        
        print(tableau_resultats_finaux)
    
    # enregistrement sous Excel
    if save:
        tableau_resultats_finaux.to_excel(path)


def vingtiles_ind_sans_target(model, data_orig, affichage, save, path):
    # position de la dernière variable explicative dans le dataset
    nb_var = data_orig.shape[1]-1

    # predict sur tous les individus (avec et sans classe IFI+)
    tous_probas = model.predict_proba(data_orig.iloc[:,1:nb_var])
    df_tous = pd.DataFrame({'IDENT': data_orig.iloc[:,0] , 'PROBA': tous_probas[:,0] })
    #df_tous
    
    # valeurs ordonnées pour diviser après
    df_tous=df_tous.sort_values(by='PROBA', ascending=True)
    #df_tous
    print(df_tous)
    
    #vérification
    print(df_tous['PROBA'].value_counts())

    # quarantiles
    df_temp =pd.DataFrame( pd.qcut(df_tous['PROBA'],q= 20)  )
    print(df_temp)

    # ajout par index (IMPORTANTE)
    df_tous["TRANCHES"]=pd.DataFrame(df_temp.iloc[:,0].to_numpy(),index= df_temp.index)
    print(df_tous)
    print(df_tous["TRANCHES"].value_counts(ascending = True))

    # GERE L'ORDRE
    patra = np.unique(df_tous.iloc[:,2], return_counts=True)
    df_tranches_sans_target = pd.DataFrame([patra[0],patra[1]]).T
    df_tranches_sans_target.columns=["TRANCHES","COUNTS"]

    # affichage
    if affichage ==True:        
        print(df_tranches_sans_target)
    
    # enregistrement sous Excel
    if save == True:
        df_tranches_sans_target.to_excel(path)
    

# élimination des variables trop corrélées (choix manuel)
def elimination_val_corr(data):
    data = data.drop(columns=[""])
    return data

In [9]:
##############################################################################################################
#                                                   PREMIERS TESTS
##############################################################################################################

In [10]:
#################################################################################################
#                       SANS VARIABLES CORR ET ENCODAGE DUMMIES
#################################################################################################

In [11]:
# test predict individus sans classe
data = data_orig.copy()

# on élimine les variables dons
data=data.drop(["GeoFaz_cl", "ImmoFaz_Scl", "ImmoFaz_cl", "Prenom_Phase_cl_H", "Prenom_Phase_cl_F",
                "Onoma-Phase_Scl", "Onoma-Phase_CL"],axis=1)

# encodage Onehot sur toutes les données (on évite ainsi les erreurs futures)
nb_var = data.shape[1] - 1
data_1_22 = pd.get_dummies(data.iloc[:,1:(data.shape[1]-1)], columns=data.columns[1:(data.shape[1]-1)] )
data_var_qualitatives_temp =  pd.concat([data["IDENT"], data_1_22, data["Top_mon"]], axis=1)
data = data_var_qualitatives_temp
#encodage = OneHotEncoder()
#encodage.fit(data_processing(data.iloc[:,1:nb_var]))

# élimination des individus n'ayant pas de valeur pour la varialbe Top_mon
"""IMPORTANT"""
data_sans_nan = data[(data.isnull()).sum(axis=1) == 0]

#conversion du type de variable
for i in range(1,data_sans_nan.shape[1]):
    data_sans_nan.iloc[:,i]=data_sans_nan.iloc[:,i].astype(int)

# base de données avec des variables corrélées et avec encodage OneHot
data =data_sans_nan

nb_var = data.shape[1] - 1
train_set, test_set = train_test_split(data, test_size = 0.2, random_state=0 )

train_X_s = (train_set.iloc[:,1:nb_var]).to_numpy()
train_Y_s = np.asanyarray(train_set.iloc[:,nb_var])

test_X_s = (test_set.iloc[:,1:nb_var]).to_numpy()
test_Y_s = np.asanyarray(test_set.iloc[:,nb_var])

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1743: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(ilocs[0], value)

In [ ]:
# CA PREND PLUS DE 14H AVEC UN GRIDSEARCHCV (27 MODELES).AVEC UN RANDOMIZEDSEARCHCV, LE TEMPS EST DIMINUE A 13H 
# (A CAUSE DU PARAMETRE probability=True)
"""
model_SVC = SVC(class_weight ="balanced", max_iter=5000, random_state =0, probability=True, cache_size = 1800)
param = {'C': [0.1,1, 10], 'gamma': [1,0.1,0.01],'kernel': ['rbf', 'poly', 'sigmoid']}
"""

In [ ]:
model_SVC = SVC(class_weight ="balanced", max_iter=5000, random_state =0, probability=True, cache_size = 1800)
param = {'C': [0.1,1, 10], 'gamma': [1,0.1,0.01],'kernel': ['rbf', 'poly', 'sigmoid']}

grid_SVC = RandomizedSearchCV(model_SVC, param, cv = 4, scoring = "recall", n_jobs=-1 )
resultat_grid_SVC = grid_SVC.fit(train_X_s, train_Y_s)
resultat_grid_SVC.best_params_

/usr/local/lib/python3.7/dist-packages/sklearn/svm/_base.py:231: ConvergenceWarning: Solver terminated early (max_iter=5000).  Consider pre-processing your data with StandardScaler or MinMaxScaler.
  % self.max_iter, ConvergenceWarning)

{'C': 0.1, 'gamma': 0.1, 'kernel': 'poly'}

In [12]:
#{'C': 0.1, 'gamma': 0.1, 'kernel': 'poly'}
final_model_SVM = SVC(class_weight ="balanced", max_iter=5000, random_state =0, probability=True, cache_size = 1800,
                      C=0.1, gamma=0.1, kernel= 'poly')
evaluation(final_model_SVM, train_X_s, train_Y_s, test_X_s, test_Y_s, scoring="recall", plot=False )

/usr/local/lib/python3.7/dist-packages/sklearn/svm/_base.py:231: ConvergenceWarning: Solver terminated early (max_iter=5000).  Consider pre-processing your data with StandardScaler or MinMaxScaler.
  % self.max_iter, ConvergenceWarning)

test set :
[[ 5331     0]
 [14529     0]]
              precision    recall  f1-score   support

           1       0.27      1.00      0.42      5331
           2       0.00      0.00      0.00     14529

    accuracy                           0.27     19860
   macro avg       0.13      0.50      0.21     19860
weighted avg       0.07      0.27      0.11     19860

train set :

/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

[[21397     0]
 [58039     0]]
              precision    recall  f1-score   support

           1       0.27      1.00      0.42     21397
           2       0.00      0.00      0.00     58039

    accuracy                           0.27     79436
   macro avg       0.13      0.50      0.21     79436
weighted avg       0.07      0.27      0.11     79436

GRAPHIQUE NON DEMANDE

/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [13]:
# TRAIN SET TEST SET
vingtiles_tableau = vingtiles(model=final_model_SVM, data_orig= data, affichage=True,
            save=False, path = "/content/drive/MyDrive/spad_score_method_1/spad_projection_FDFTOT21/Fichier_excel_vingtiles/train_test_svm.xlsx")

            IDENT     PROBA
88004  0010523065  0.190200
43247  0010368416  0.191508
44681  0010369841  0.192169
22172  0010338540  0.194723
53959  0010379997  0.197405
...           ...       ...
26925  0010344903  0.430983
34179  0010358624  0.431666
6832   0010253604  0.435378
10965  0010257873  0.439164
64169  0010397746  0.454565

[99296 rows x 2 columns]
0.349573    51
0.344072    28
0.328852    24
0.327976    19
0.354504    19
            ..
0.331452     1
0.306425     1
0.348857     1
0.329247     1
0.344619     1
Name: PROBA, Length: 96528, dtype: int64

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:119: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

            IDENT     PROBA        TRANCHES CLASSE
88004  0010523065  0.190200  (0.189, 0.294]      1
43247  0010368416  0.191508  (0.189, 0.294]      1
44681  0010369841  0.192169  (0.189, 0.294]      1
22172  0010338540  0.194723  (0.189, 0.294]      1
53959  0010379997  0.197405  (0.189, 0.294]      1
...           ...       ...             ...    ...
26925  0010344903  0.430983  (0.357, 0.455]     20
34179  0010358624  0.431666  (0.357, 0.455]     20
6832   0010253604  0.435378  (0.357, 0.455]     20
10965  0010257873  0.439164  (0.357, 0.455]     20
64169  0010397746  0.454565  (0.357, 0.455]     20

[99296 rows x 4 columns]
Top_mon            1     2  TOTAL
TRANCHES
(0.189, 0.294]   499  4467   4966
(0.294, 0.307]  1025  3939   4964
(0.307, 0.315]  1322  3643   4965
(0.315, 0.321]  1456  3509   4965
(0.321, 0.325]  1410  3554   4964
(0.325, 0.328]  1339  3627   4966
(0.328, 0.331]  1376  3588   4964
(0.331, 0.333]  1378  3587   4965
(0.333, 0.335]  1271  3693   4964
(0.335, 0.337]  1295  3670   4965
(0.337, 0.339]  1287  3680   4967
(0.339, 0.34]   1327  3636   4963
(0.34, 0.342]   1293  3671   4964
(0.342, 0.343]  1351  3614   4965
(0.343, 0.345]  1292  3673   4965
(0.345, 0.347]  1322  3643   4965
(0.347, 0.35]   1393  3571   4964
(0.35, 0.353]   1490  3475   4965
(0.353, 0.357]  1596  3369   4965
(0.357, 0.455]  2006  2959   4965

In [14]:
# TABLEAU MONTANT
tableau_5_montant(vingtiles_tableau, data_montant_orig, affichage=True,
            save=False, path = "/content/drive/MyDrive/spad_score_method_1/spad_projection_FDFTOT21/Fichier_excel_vingtiles/montant_svm.xlsx")

            IDENT     PROBA        TRANCHES CLASSE  SommeDeMONTANT_NUM
0      0010523065  0.190200  (0.189, 0.294]      1                30.0
1      0010368416  0.191508  (0.189, 0.294]      1                20.0
2      0010369841  0.192169  (0.189, 0.294]      1                30.0
3      0010338540  0.194723  (0.189, 0.294]      1                20.0
4      0010379997  0.197405  (0.189, 0.294]      1                10.0
...           ...       ...             ...    ...                 ...
99291  0010344903  0.430983  (0.357, 0.455]     20                15.0
99292  0010358624  0.431666  (0.357, 0.455]     20                50.0
99293  0010253604  0.435378  (0.357, 0.455]     20               100.0
99294  0010257873  0.439164  (0.357, 0.455]     20                50.0
99295  0010397746  0.454565  (0.357, 0.455]     20                50.0

[99146 rows x 5 columns]
          TRANCHES Moyen_Somme TOTAL
0   (0.189, 0.294]     29.9264  4966
1   (0.294, 0.307]     36.5768  4962
2   (0.307, 0.315]     40.8403  4958
3   (0.315, 0.321]     48.8785  4963
4   (0.321, 0.325]     48.5398  4960
5   (0.325, 0.328]     44.2492  4959
6   (0.328, 0.331]     47.4531  4960
7   (0.331, 0.333]     41.3336  4960
8   (0.333, 0.335]     44.6538  4958
9   (0.335, 0.337]     43.1319  4962
10  (0.337, 0.339]     46.1932  4962
11   (0.339, 0.34]     47.1251  4951
12   (0.34, 0.342]     42.7047  4957
13  (0.342, 0.343]     48.4843  4955
14  (0.343, 0.345]     44.0359  4953
15  (0.345, 0.347]     48.6723  4950
16   (0.347, 0.35]     55.5006  4950
17   (0.35, 0.353]     52.5016  4957
18  (0.353, 0.357]     53.2039  4956
19  (0.357, 0.455]     65.3457  4947

In [ ]:
# INDIVIDUS SANS TARGET
test_target = vingtiles_ind_sans_target(model=model_SVC, data_orig= data_var_qualitatives_temp[(data_var_qualitatives_temp.isnull()).sum(axis=1) != 0], affichage=True,
            save=False, path = "/content/drive/MyDrive/spad_score_method_1/spad_projection_FDFTOT21/Fichier_excel_vingtiles/ind_sans_target_svm.xlsx")

             IDENT     PROBA
458714  0170006005  0.202699
188962  0050029657  0.205903
482219  0180021510  0.206059
626153  0240008944  0.208611
973846  0360051014  0.208696
...            ...       ...
636562  0250009346  0.905929
636629  0250009413  0.906443
628755  0250001539  0.910077
644769  0250017553  0.910625
895764  0340001932  0.917835

[1092884 rows x 2 columns]
0.734046    303
0.798384    229
0.800471    223
0.736208    222
0.816451    214
           ...
0.347956      1
0.379438      1
0.572267      1
0.618289      1
0.531645      1
Name: PROBA, Length: 838236, dtype: int64
                 PROBA
458714  (0.202, 0.316]
188962  (0.202, 0.316]
482219  (0.202, 0.316]
626153  (0.202, 0.316]
973846  (0.202, 0.316]
...                ...
636562  (0.722, 0.918]
636629  (0.722, 0.918]
628755  (0.722, 0.918]
644769  (0.722, 0.918]
895764  (0.722, 0.918]

[1092884 rows x 1 columns]
             IDENT     PROBA        TRANCHES
458714  0170006005  0.202699  (0.202, 0.316]
188962  0050029657  0.205903  (0.202, 0.316]
482219  0180021510  0.206059  (0.202, 0.316]
626153  0240008944  0.208611  (0.202, 0.316]
973846  0360051014  0.208696  (0.202, 0.316]
...            ...       ...             ...
636562  0250009346  0.905929  (0.722, 0.918]
636629  0250009413  0.906443  (0.722, 0.918]
628755  0250001539  0.910077  (0.722, 0.918]
644769  0250017553  0.910625  (0.722, 0.918]
895764  0340001932  0.917835  (0.722, 0.918]

[1092884 rows x 3 columns]
(0.471, 0.488]    54642
(0.488, 0.506]    54643
(0.577, 0.6]      54644
(0.6, 0.627]      54644
(0.316, 0.343]    54644
(0.343, 0.364]    54644
(0.436, 0.454]    54644
(0.364, 0.383]    54644
(0.558, 0.577]    54644
(0.664, 0.722]    54644
(0.522, 0.54]     54644
(0.383, 0.402]    54644
(0.506, 0.522]    54644
(0.627, 0.664]    54644
(0.419, 0.436]    54644
(0.202, 0.316]    54645
(0.402, 0.419]    54645
(0.722, 0.918]    54645
(0.54, 0.558]     54645
(0.454, 0.471]    54647
Name: TRANCHES, dtype: int64
          TRANCHES COUNTS
0   (0.202, 0.316]  54645
1   (0.316, 0.343]  54644
2   (0.343, 0.364]  54644
3   (0.364, 0.383]  54644
4   (0.383, 0.402]  54644
5   (0.402, 0.419]  54645
6   (0.419, 0.436]  54644
7   (0.436, 0.454]  54644
8   (0.454, 0.471]  54647
9   (0.471, 0.488]  54642
10  (0.488, 0.506]  54643
11  (0.506, 0.522]  54644
12   (0.522, 0.54]  54644
13   (0.54, 0.558]  54645
14  (0.558, 0.577]  54644
15    (0.577, 0.6]  54644
16    (0.6, 0.627]  54644
17  (0.627, 0.664]  54644
18  (0.664, 0.722]  54644
19  (0.722, 0.918]  54645

In [ ]:
####################################################################################
#                                FIN PREMIERS TESTS
####################################################################################

In [ ]:
####################################################################################################
#
#                                        DATA AUGMENTATION
#
####################################################################################################

In [ ]:
####################################################################################################
#
#                                       UNDER-SAMPLING  ET OVER-SAMPLING
#
####################################################################################################

In [ ]:
##########################################
# AVEC VARIABLES DONS ET ENCODAGE DUMMIES
##########################################

# test predict individus sans classe
data = data_orig.copy()

# on élimine les variables dons
data=data.drop(["GeoFaz_cl", "ImmoFaz_Scl", "ImmoFaz_cl", "Prenom_Phase_cl_H", "Prenom_Phase_cl_F",
                "Onoma-Phase_Scl", "Onoma-Phase_CL"],axis=1)

# encodage Onehot sur toutes les données (on évite ainsi les erreurs futures)
nb_var = data.shape[1] - 1
data_1_22 = pd.get_dummies(data.iloc[:,1:(data.shape[1]-1)], columns=data.columns[1:(data.shape[1]-1)] )
data_var_qualitatives_temp =  pd.concat([data["IDENT"], data_1_22, data["Top_mon"]], axis=1)
data = data_var_qualitatives_temp
#encodage = OneHotEncoder()
#encodage.fit(data_processing(data.iloc[:,1:nb_var]))

# élimination des individus n'ayant pas de valeur pour la varialbe Top_mon
"""IMPORTANT"""
data_sans_nan = data[(data.isnull()).sum(axis=1) == 0]

#conversion du type de variable
for i in range(1,data_sans_nan.shape[1]):
    data_sans_nan.iloc[:,i]=data_sans_nan.iloc[:,i].astype(int)

# base de données avec des variables corrélées et avec encodage OneHot
data =data_sans_nan

nb_var = data.shape[1] - 1
train_set, test_set = train_test_split(data, test_size = 0.2, random_state=0 )

train_X_s = (train_set.iloc[:,1:nb_var]).to_numpy()
train_Y_s = np.asanyarray(train_set.iloc[:,nb_var])

test_X_s = (test_set.iloc[:,1:nb_var]).to_numpy()
test_Y_s = np.asanyarray(test_set.iloc[:,nb_var])

In [ ]:

from imblearn.under_sampling import TomekLinks
from imblearn.over_sampling import SMOTE

In [ ]:

# dimension du train set
print("Sans aucun traitement sur le train set : " , np.unique(train_Y_s, return_counts=True))

# diminution des données
t2 = TomekLinks(random_state=0)
X_resampled, y_resampled = t2.fit_resample(train_X_s[:,:nb_var] , train_Y_s )
print("Après under-sampling : ", np.unique(y_resampled, return_counts=True ))

# augmentation des données
tl = SMOTE(random_state=0)
X_resampled, y_resampled = tl.fit_resample(X_resampled, y_resampled )
print("Après over-smapling : " , np.unique(y_resampled, return_counts=True ))

'''
# enregistrement du nouveau train set car le traitement du under-sampling prendre du temps 
pd.DataFrame(np.concatenate((X_resampled, y_resampled.reshape((y_resampled.shape[0],1)) ),
                            axis=1)).to_csv("/content/drive/MyDrive/spad_score_method_1/spad_projection_FDFTOT21/sans_val_corr_spad_under_over_sampling.txt",
                                            sep=" ", index =False , header = False, encoding ="utf-8")
'''

Sans aucun traitement sur le train set :  (array([1, 2]), array([21397, 58039]))
Après under-sampling :  (array([1, 2]), array([21397, 52706]))
Après over-smapling :  (array([1, 2]), array([52706, 52706]))

'\n# enregistrement du nouveau train set car le traitement du under-sampling prendre du temps \npd.DataFrame(np.concatenate((X_resampled, y_resampled.reshape((y_resampled.shape[0],1)) ),\n                            axis=1)).to_csv("/content/drive/MyDrive/spad_score_method_1/spad_projection_FDFTOT21/sans_val_corr_spad_under_over_sampling.txt",\n                                            sep=" ", index =False , header = False, encoding ="utf-8")\n'

In [ ]:
'''
# Résultat du traitement sur le train set (under-sampling et over-sampling)
abc_test = pd.read_csv("/content/drive/MyDrive/spad_score_method_1/spad_projection_FDFTOT21/sans_val_corr_spad_under_over_sampling.txt", delim_whitespace="\t", header = None, low_memory=False, dtype="Int64" ) #, dtype='Int64')
abc_np = abc_test.to_numpy(dtype="Int64")

X_resampled = abc_np[:,:-1]
y_resampled = abc_np[:, abc_np.shape[1] -1 ]
'''

In [ ]:
X_resampled.shape, y_resampled.shape

((105412, 269), (105412,))

In [ ]:
#####################################################################################
###################################################################################
####################################################################################
####################################################################################